<div class="wrapper">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Dyna Form</h4>
                <p class="card-category">Example</p>
              </div>
              <div class="card-body">
                  <div class="row">
                      <!-- left column -->
                      <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="box box-primary">
                          <!-- /.box-header -->
                          <!-- form start #frmUser="ngForm" -->
                          <form novalidate (ngSubmit)="submitForm($event)" method="post">
                            <div class="box-body col-md-6">
                              <div class="form-group">
                                <label>First Name</label>&nbsp;<span class="err">*</span>
                                  <input type="text" class="form-control" pattern="[a-zA-Z ][a-zA-Z ]+"
                                  name="first_name" minlength="5"  autocomplete="off">
                              </div>
                            </div>
                            <div class="box-footer">
                              <button type="submit" class="btn btn-primary" >Submit</button>
                            </div>
                          </form>
                        </div>
                        <!-- /.box -->
                    </div>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
