<!-- <h1>User List</h1>
{{listData | json}} -->



<div class="wrapper">
  <!-- INCLUDE SIDEBAR -->
  <app-sidebar></app-sidebar>
<div class="main-panel">
  <!-- INCLUDE SIDEBAR -->
  <app-header></app-header>
    <div class="content">
      <div class="container-fluid">
        <flash-messages></flash-messages>
        <span class="slds-notify_container">
          <!-- {{objAlert | json}} -->
          <!-- <ngl-notification *ngIf="objAlert.show" type="alert" severity="error" 
          (nglNotificationClose)="onCloseAlert($event)" timeout="5000" 
          class="slds-theme--alert-texture">
               <h2>{{objAlert.message}}</h2>
          </ngl-notification> -->
          <simple-notifications></simple-notifications>
      </span>
        <div class="row">
            <div class="col-md-12" [ngStyle]="{'text-align':'right'}">
                <a routerLink="/admin/users/add">
                <button type="button" class="btn ink-reaction btn-raised btn-primary">ADD NEW</button></a>
            </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">User Management</h4>
                <p class="card-category">Listing</p>
              </div>
              {{listData | json}}
              
              <div id="data-list">
                <kendo-grid [data]="gridData" [height]="410">
                  <kendo-grid-column field="username" title="Username" width="40">
                  </kendo-grid-column>
                  <kendo-grid-column field="first_name" title="First Name" width="150">
                  </kendo-grid-column>
                  <kendo-grid-column field="last_name" title="Last Name" width="100">
                  </kendo-grid-column>
              </kendo-grid>
              </div>
              <!-- Include User Form -->

            </div>
          </div>  
          
        </div>
      </div>
    </div>
  <!-- INCLUDE FOOTER -->
  <app-footer></app-footer>    
</div>
</div>



